// Definir las animaciones del menu:
@keyframes desplegar {
  from {
    opacity: 0;
    transform: rotateX(30deg);
  }
}

@keyframes fijar {
  50% {
    opacity: 0.5;
    transform: scale(0.98);
  }
}

.fijar {
  &:target {
    animation: 300ms ease fijar 1;
  }
}

@keyframes intermitencia {
  50% {
    background-color: rgba(white, 0.8);
  }
}