.t-color {
  &--base {
    color: $color-base;
  }

  &--secundario {
    color: $color-secundario;
  }

  &--A {
    color: $color-A;
  }

  &--white {
    color: white;
  }

  &--ws,
  &--whatsapp {
    color: $color-whatsapp;

    &-hover {
      transition: 300ms ease;

      &:hover {
        color: $color-whatsapp;
      }
    }
  }
}

.f-color {
  &--base {
    background-color: $color-base;
  }

  &--secundario {
    background-color: $color-secundario;
  }

  &--A {
    background-color: $color-A;
    background-image: url("../images/fondo.png");
  }

  &--white {
    background-color: white;
  }

  &--ws,
  &--whatsapp {
    background-color: $color-whatsapp;
  }
}
