.t-color {
  &--base {
    color: $color-base;
  }

  &--secundario {
    color: $color-secundario;
  }

  &--A {
    color: $color-A;
  }
}

.f-color {
  &--base {
    background-color: $color-base;
  }

  &--secundario {
    background-color: $color-secundario;
  }

  &--A {
    background-color: $color-A;
    background-image: url("../images/fondo.png");
  }
}