header, section, article, footer, aside, div, p, nav {
  position: relative;
}

header, section, article, footer {
  margin: 0 auto;
}

.header {
  min-height: $min-height;

  background-color: rgba($color-base, 0.1);
}
.banner {
  background-color: silver;
  &, &__imagen {
    position: absolute;
    margin: auto; 
    left: 0; right: 0;
    top: 0; bottom: 0;
  }

  &__imagen {
    display: block;
    object-fit: cover;
    object-position: center top;

    width: 100%;
    height: 100%;
  }
}

.logo {
  position: absolute;
  margin: auto;
  height: 100%;
  left: 0; right: 0;
  top: 0; bottom: 0;
  max-width: $max-width;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;

  &__img {
    display: block;
    width: auto;
    height: auto;
    max-width: 100%;
  }

  &__image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }

  &__p {
    color: $color-base;
    margin: 0;
    text-transform: uppercase;

    &:first-of-type {
      margin-top: 40px;
    }

    &--small {
      font-size: 1.3rem;
    }

    &--big {
      font-size: 2rem;
    }
  }
}

// Seccion de tu y yo:
.we {
  position: relative;
  margin: 0;
  min-height: 190px;
  background-color: white;
  color: $color-base;
  text-align: center;

  // Cajas flexibles:
  display: flex;
  justify-content: center;
  align-items: center;
  
  
  font: {
    size: 6rem;
  }
}

// Personalizar Carousel:
.carousel {
  min-height: 200px;
  height: 525;
  max-height: 100vh;

  background-color: $color-secundario;

  &-inner {
    position: relative;
    height: 525px;

    background-color: silver;
  }

  img {
    display: block;
    position: absolute;

    // Recortando imagenes:
    object-fit: cover;
    object-position: center top;
  }
}

// Contenido de secciones de la pagina:
.content {
  position: relative;

  &--item {
    min-height: 200px;
  }

  &--A {
    border-top: 16px solid lighten($color-base, 5);
    padding: 40px 0;

    text-align: center;
  }
}

// Margenes abreviados:
.m {
  &--0 {
    margin: 0;
  }

  @for $i from 1 through 10 {
    $multiplo: $i * 5;
    
    &--#{$multiplo} {
      margin: $multiplo + px;
    }
  }
}

// Imagen de decoracion:
.decoracion {
  margin-top: 40px;
  margin-bottom: 0;
}

// Seccion Timer:
.timer {
  background-color: $color-base;
  color: white;

  padding-top: 17%;
}

// Como llegar:
.como-llegar {
  border-bottom: 14px solid lighten($color-base, 5);
  background-color: $color-A;
  padding: 40px 0;

  &--content {
    margin: 0 auto;
    max-width: 1200px;
    min-height: 100px;
  }
}

.flex {
  &, &--item {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &--item {
    flex-direction: column;
    flex-basis: 50%;
    flex-grow: 1;
    flex-shrink: 1;
    min-height: 100px;

    &:not(:first-of-type) {
      border-left: 1px solid $color-secundario;
    }
  }

  &--start {
    justify-content: flex-start;
  }

  &--end {
    justify-content: flex-end;
  }
}

// Ubicacion:
.ubicacion {
  &--small {
    height: 35px;
  }
}

// Grid:
.grid {
  display: grid;

  &--auto-fit {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

  &--item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &--gap {
    grid-gap: 40px;
  }
}

// Redes Sociales:
.instagram {
  --diametro: 300px;

  width: var(--diametro);
  height: var(--diametro);

  background-color: $instagram-3;
  background-image: linear-gradient(180deg, $instagram-1, $instagram-2, $instagram-3);
  
  &--circle {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: calc(var(--diametro) / 2);
  }
  
  &--circle-small {
    --small: 20px;

    width: calc(var(--diametro) - 20px);
    height: calc(var(--diametro) - 20px);
    border-radius: calc((var(--diametro) - var(--small)) / 2);
    
    background-color: white;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;

    img {
      --radius: calc((var(--diametro) - var(--small) * 2));
      
      display: block;
      position: relative;
      width: var(--radius);
      height: var(--radius);

      border-radius: calc(var(--radius) / 2);
    }
  }
}

// Maquillaje:
.maquillaje {
  padding: 20px 0;
}

// Tarjetas:
// Card-1:

.tarjetas {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

  &--con-foto {
    grid-gap: 20px;
  }

  &--sin-foto {
    grid-gap: 80px;
  }


  &--borde {
    display: flex;
    flex-wrap: wrap;

    border: 1px solid;

    justify-content: center;
    align-items: center;

    --padding: 30px;
    padding-top: var(--padding);
    padding-bottom: var(--padding);

    // Apariencia:
    background-color: #f9f9f9;
    border: 1px solid white;

    $color: lighten($color-base, 15);
    $color: rgba($color, 0.4);
    $color: desaturate($color, 40);

    // Sombras:
    --xy: 5px;
    box-shadow: var(--xy) var(--xy) 20px $color;
    border-radius: 5px;
  }
  img {
    max-width: 100%;
  }

  &__img {
    transition: 500ms cubic-bezier(0.3, 0, 0, 1);
    transform-origin: center bottom;

    &:active {
      transition: none;
      transform: rotateX(15deg);
    }
  }

  &--images {
    margin-bottom: 40px;
    border-bottom: 16px solid darken($instagram-3, 10);
  }
}

// Seccion Timer:
.timer {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Donde quedarse:
.donde-quedarse {
  position: relative;
  padding: 20px 0;
}

// Linea horizontal:
.linea--h {
  &-50 {
    height: 10px;

    --margin: 35px;
    margin-top: var(--margin);
    margin-bottom: var(--margin);

    &::before {
      content: "";
      display: block;
      position: absolute;
      margin: auto;
      left: 0; right: auto;
      top: 0; bottom: 0;
      width: 50%;

      background-color: #f0d000;
    }
  }
}

// Rellenos: 
.padding {
  --padding: 30px;

  &--h {
    padding-left: var(--padding);
    padding-right: var(--padding);
  }

  &--v {
    padding-top: var(--padding);
    padding-bottom: var(--padding);
  }

  &--left {
    padding-left: var(--padding);
  }

  &--right {
    padding-right: var(--padding);
  }

  &--top {
    padding-top: var(--padding);
  }

  &--bottom {
    padding-bottom: var(--padding);
  }

  // Relleno en todas las direcciones mientras
  // no se especifique donde aplicarse:
  &:not(&--h):not(&--v):not(&--left):not(&--right):not(&--top):not(&--bottom) {
    padding: var(--padding);
  }
}

.rsvp {
  background-image: url('../images/carousel/0066.jpg');
}

// Logo
.seccion-b {

  &--logo {
    display: block;
    width: 300px;
    height: auto;
    margin: 0 auto;
  }
}

// Contacto:
.contacto {
  --margin: 30px;

  margin-left:auto;
  margin-right: auto;
  margin-top: var(--margin);

  color: white;

  justify-content: center;

  &--separador {
    --padding: 20px;

    padding: 0 var(--padding);
    transition: 300ms ease;
    
    &:not(:first-of-type) {
      border-left: 1px solid rgba(white, 0.3);
    }

    &:hover {
      color: $color-whatsapp;
    }
  }

  .fab {
    padding-right: 10px;
  }
}