header, section, article, footer, aside, div, p, nav {
  position: relative;
}

header, section, article, footer {
  margin: 0 auto;
}

.main {
  transition: 300ms ease;

  @media screen and (min-width: 1500px) {
    margin: 20px auto;
    max-width: calc(1500px - 20px);
    border-radius: 10px;
    padding: 10px;

    $color: lighten($color-base, 20);
    background-color: #f9f9f9;
    box-shadow: 0 0 2px rgba($color, 0.5);
    overflow: hidden;
  }
}

.header {
  min-height: $min-height;
  overflow:visible;
  background-color: rgba($color-base, 0.1);

  // Responsive:
  @media screen and (min-width: 1500px) {
    min-height: 900px;
  }
}
.banner {
  position: relative;
  background-color: $logo-fondo;

  --width: 55%;
  $x2: 15%;
  $diferencia: 100% - $x2;

  --altura: 450px;
  padding-top: calc(var(--altura) - 10px);
  &--item {
    transition: 300ms ease;
    overflow: visible;
    
    @media screen and (min-width: 1024px) {
      margin: auto;
      top: 0; bottom: 0;
      position: absolute;
      min-height: 100%;
    }

    @media screen and (max-width: 1023px) {
      position: relative;
    }

    &:first-of-type {
      @media screen and (min-width: 1024px) {
        width: var(--width);
        left: 0; right: auto;
      }

      @media screen and (max-width: 1023px) {
        width: 100%;
        position: relative;
        z-index: 1;
      }
      
    }
    
    &:last-of-type {

      @media screen and (min-width: 1024px) {
        -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, $x2 100%); // Soporte para navegadores antiguos
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, $x2 100%);
        width: 55%;
        left: auto; right: 0;
      }

      @media screen and (max-width: 1023px) {
        position: absolute;
        margin: auto;
        top: 0; bottom: auto;
        left: 0; right: 0;

        min-height: var(--altura);
        width: 100%;
      }
      
      // Anchura del segundo ITEM:
      z-index: 2;
    }
  }

  $background-gradient: linear-gradient(80deg, transparent, $logo-fondo 20%), url("../images/banner_principal/foto-smartphone.jpg");
  
  &--gradient {
    @media screen and (min-width: 1024px) {
      background-image: $background-gradient;
    }

    @media screen and (max-width: 1023px) {
      max-width: 100%;
    }
  }

  &--logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    
    @media screen and (min-width: 1024px) {
      left: auto; right: 10px;
      width: $diferencia;
    }

    .logo__p--big {
      @media screen and (max-width: 980px) {
        font-size: 1.4rem;
      }
    }

    @media screen and (max-width: 1023px) {
      max-width: $width-layer;
      padding-top: 40px;
    }

    z-index: 2;
  }

  &--blur,
  &--logo {
    position: absolute; 
    margin: auto;
    bottom: 0;

    @media screen and (min-width: 1024px) {
      top: 0;
    }

    @media screen and (max-width: 1023px) {
      top: 20px;
      left: 0; right: 0;
    }

  }

  &--blur {
    left: 0; right: 0;
    
    
    @media screen and (min-width: 1024px) {
      filter: blur(13px);
      -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, $x2 100%); // Soporte para navegadores antiguos
      clip-path: polygon(0% 0%, 100% 0%, 100% 100%, $x2 100%);
      background-image: $background-gradient;
    }

    @media screen and (max-width: 1023px) {
      // $background-image: linear-gradient(90deg, transparent, $logo-fondo 0%), url("../images/banner_principal/foto-smartphone.jpg");

      // // Imagen de fondo:
      // background-image: $background-image;

      $logo-fondo: #f0f0f0;
      background-color: $logo-fondo;
      width: 100%;
    }

    z-index: 0;
  }

  &, &__imagen {
    @media screen and (min-width: 1024px) {
      position: absolute;
      margin: auto;
      left: 0; right: 0;
      top: 0; bottom: 0;
    }
  }

  &__imagen {
    display: block;
    object-fit: cover;
    object-position: 20% top;

    width: 100%;
    
    @media screen and (min-width: 1024px) {
      position: absolute;
      margin: auto;
      left: 0; right: 0;
      top: 0; bottom: 0;
      height: 100%;
    }

    @media screen and (max-width: 1023px) {
      position: relative;
      height: auto;
    }

  }
}

.logo {
  position: absolute;
  margin: auto;
  height: 100%;
  left: 0; right: 0;
  top: 0; bottom: 0;
  max-width: $max-width;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;

  &__img {
    display: block;
    width: auto;
    height: auto;
    max-width: 100%;
  }

  &__image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }

  &__p {
    color: $color-base;
    margin: 0;
    text-transform: uppercase;

    &:first-of-type {
      margin-top: 40px;
    }

    &--small {
      font-size: 1.3rem;
    }

    &--big {
      font-size: 2rem;
    }
  }
}

// Seccion de tu y yo:
.we {
  position: relative;
  margin: 0;
  min-height: 240px;
  background-color: white;
  color: $color-base;
  text-align: center;
  
  @media screen and (max-width: 600px) {
    min-height: 120px;
  }
  display: flex;
  justify-content: center;
  align-items: center;
  
  font: {
    size: 6rem;
  }
}

// Personalizar Carousel:
.carousel {
  max-height: 100vh;
  background-color: $color-secundario;

  &-inner {
    position: relative;
    background-color: silver;
  }

  &-item {
    --padding: 44.44%;
    transition: 300ms ease;

    position: relative;
    height: 100%;
    overflow: hidden;
    padding-top: var(--padding);
  }

  img.d-block {
    position: absolute;
    margin: auto;
    height: 100%;

    left: 0; right: auto;
    top:0; bottom: auto;
  }
}

@supports (object-fit: cover) {
  .carousel {
    img {
      width: 100%;

      // Si es soportado, utilizar esta propiedad:
      object-fit: cover;
      object-position: center top;
    }
  }
}
// Contenido de secciones de la pagina:
.content {
  position: relative;

  &--item {
    min-height: 200px;
  }

  &--A {
    border-top: 16px solid lighten($color-base, 5);
    padding: 40px 0;

    text-align: center;
  }
}

// Margenes abreviados:
.m {
  &--0 {
    margin: 0;
  }

  @for $i from 1 through 10 {
    $multiplo: $i * 5;
    
    &--#{$multiplo} {
      margin: $multiplo + px;
    }
  }
}

// Imagen de decoracion:
.decoracion {
  margin-top: 40px;
  margin-bottom: 0;
}

// Seccion Timer:
.timer {
  background-color: $color-base;
  color: white;

  padding-top: 17%;
}

// Como llegar:
.como-llegar {
  border-bottom: 14px solid lighten($color-base, 5);
  background-color: $color-A;
  padding: 40px 0;

  &--content {
    margin: 0 auto;
    max-width: 1200px;
    min-height: 100px;
  }
}

.flex {
  $width-layer: calc(#{$width} - 20px);
  width: $width-layer;
  transition: 300ms ease;

  @media screen and (max-width: 599px) {
    flex-wrap: wrap;
    margin: 0 auto;
    border-radius: 5px;
  }

  &, &--item {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &--item {
    flex-direction: column;
    flex-basis: 50%;
    flex-grow: 1;
    flex-shrink: 1;
    min-height: 100px;
    transition: 300ms ease;

    @media screen and (max-width: 599px) {
      padding-top: 20px;
      padding-bottom: 20px;
      flex-basis: 100%;

      &:not(:last-of-type) {
        border-bottom: 1px solid $color-secundario;
      }
    }

    &:not(:first-of-type) {
      @media screen and (min-width: 600px) {
        border-left: 1px solid $color-secundario;
      }
    }
  }

  &--start {
    justify-content: flex-start;
  }

  &--end {
    justify-content: flex-end;
  }
}

// Ubicacion:
.ubicacion {
  &--small {
    height: 35px;
  }
}

// Grid:
.grid {
  display: grid;
  
  &--auto-fit {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

  &--item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &--gap {
    grid-gap: 40px;
  }
}

// Redes Sociales:
.instagram {
  --diametro: 300px;

  width: var(--diametro);
  height: var(--diametro);

  background-color: $instagram-3;
  background-image: linear-gradient(180deg, $instagram-1, $instagram-2, $instagram-3);
  
  &--scale {
    display: block;
    position: relative;
    max-height: 80%;
  }
  &--circle {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: calc(var(--diametro) / 2);
  }
  
  &--circle-small {
    --small: 20px;

    width: calc(var(--diametro) - 20px);
    height: calc(var(--diametro) - 20px);
    border-radius: calc((var(--diametro) - var(--small)) / 2);
    
    background-color: white;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;

    img {
      --radius: calc((var(--diametro) - var(--small) * 2));
      
      display: block;
      position: relative;
      width: var(--radius);
      height: var(--radius);

      border-radius: calc(var(--radius) / 2);
    }
  }
}

// Maquillaje:
.maquillaje {
  padding: 20px 0;
}

// Tarjetas:
// Card-1:

.tarjetas {
  display: grid;
  
  @media screen and (min-width: 600px) {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

  @media screen and (max-width: 599px) {
    grid-template-columns: 1fr;
  }

  &--con-foto {
    grid-gap: 20px;
  }

  &--sin-foto {
    transition: 300ms ease;

    $gap: 80px;
    @media screen and (min-width: 900px) {
      grid-gap: $gap;
      gap: $gap;
    }

    $gap: 20px;
    @media screen and (max-width: 899px) {
      grid-gap: $gap;
      gap: $gap;
    }
  }

  &--item {
    transition: 300ms ease;
    padding: 10px;
    background-color: darken(white, 2);
    border-radius: 4px;

    @media screen and (max-width: 600px) {
    }

    width: $width-layer;
    margin: 0 auto;
  }

  &--borde,
  &--sombra {

    padding-top: var(--padding);
    padding-bottom: var(--padding);

    // Apariencia:
    $background-color: lighten($color-base, 90);
    background-color: $background-color;
    border: 1px solid white;

    $color: lighten($color-base, 15);
    $color: rgba($color, 0.15);
    $color: desaturate($color, 40);
    overflow: hidden;

    // Sombras:
    --xy: 0;
    --blur: 5px;
    --color: #{$color};

    box-shadow: var(--xy) var(--xy) var(--blur) var(--color);
    border-radius: 5px;
  }

  &--borde {
    --padding: 10px;
    
    padding-left: var(--padding);
    padding-right: var(--padding);
  }
  
  &--sombra {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
    --xy: 5px;
    --blur: 15px;
    --padding: 30px;
  }
  img {
    width: $width;
  }

  &__img {
    transition: 500ms cubic-bezier(0.3, 0, 0, 1);
    transform-origin: center bottom;

    &:active {
      transition: none;
      transform: rotateX(15deg);
    }
  }

  &--images {
    margin-bottom: 40px;
    border-bottom: 16px solid darken($instagram-3, 10);
  }
}

// Seccion Timer:
.timer {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Donde quedarse:
.donde-quedarse {
  position: relative;
  padding: 20px 0;

  background-color: darken(white, 2);
  border-top: 1px solid darken(white, 20);
}

// Linea horizontal:
.linea--h {
  &-50 {
    height: 10px;

    --margin: 35px;
    margin-top: var(--margin);
    margin-bottom: var(--margin);

    &::before {
      content: "";
      display: block;
      position: absolute;
      margin: auto;
      left: 0; right: auto;
      top: 0; bottom: 0;
      width: 50%;

      background-color: #f0d000;
    }
  }
}

// Rellenos: 
.padding {
  --padding: 30px;

  &--h {
    padding-left: var(--padding);
    padding-right: var(--padding);
  }

  &--v {
    padding-top: var(--padding);
    padding-bottom: var(--padding);
  }

  &--left {
    padding-left: var(--padding);
  }

  &--right {
    padding-right: var(--padding);
  }

  &--top {
    padding-top: var(--padding);
  }

  &--bottom {
    padding-bottom: var(--padding);
  }

  // Relleno en todas las direcciones mientras
  // no se especifique donde aplicarse:
  &:not(&--h):not(&--v):not(&--left):not(&--right):not(&--top):not(&--bottom) {
    padding: var(--padding);
  }
}

.rsvp {
  background-image: url('../images/carousel/0066.jpg');
  background-size: auto 100%;
}

// Logo
.seccion-b {
  
  &--logo {
    display: block;
    width: 300px;
    height: auto;
    margin: 0 auto;
  }

  &--block {
    display: block;
  }
}

// Contacto:
.contacto {
  --margin: 50px;

  margin-left:auto;
  margin-right: auto;
  margin-top: var(--margin);

  color: white;

  justify-content: center;

  &--separador {
    --padding: 20px;

    padding: 0 var(--padding);
    transition: 300ms ease;
    
    @media screen and (min-width: 500px) {
      &:not(:first-of-type) {
        border-left: 1px solid rgba(white, 0.3);
      }
    }

    @media screen and (max-width: 499px) {
      width: $width;
      text-align: center;

      &:not(:first-of-type) {
        border-top: 1px solid rgba(white, 0.3);
        padding-top: 10px;
      }
    }


    &:hover {
      color: $color-whatsapp;
    }
  }

  .fab {
    padding-right: 5px;
    font-size: 1.1rem;
  }
}

.mapas {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  max-width: $width-layer;
  height: 500px;
  width: 100%;
  max-width: 650px;
  
  @media screen and (min-width: 600px) {
    max-width: 450px;
    max-height: 350px;
  }
  
  @media screen and (max-width: 599px) {
    
  }

  padding-top: 20px;
  // border-top: 1px solid $color-secundario;

  &__iframe {
    display: block;
    position: relative;
    border: 0;
    margin: 0 auto;
    height: 100%;
    width: $width-layer;

    border: 1px solid white;
    box-shadow: 0 0 2px silver;
  }

  &--enlace {
    border: 0;
    outline: medium none;
    text-decoration: none;
    transition: 300ms ease;

    &:hover {
      text-decoration: none;
      opacity: 0.7;
    }

    &:active {
      transform: scale(0.98);
      transition: none;
    }
  }
}

// Ventanas emergentes:
.ventana {
  display: none;

  &:target {
    display: block;
  }

  &:target &--content {
    animation: 300ms ease desplegar 1;
  }

  &--modal {
    position: fixed;
    margin: auto;
    left: 0; right: 0;
    top: 0; bottom: 0;
    background-color: rgba($color-base, 0.6);
    overflow: auto;

    z-index: 1000;

  }

  &--header {
    padding: 10px;
    position: fixed;
    margin: auto;
    left: 0; right: 0;
    top: 0; bottom: auto;

    z-index: 2;
  }

  &--content {
    $intensidad: 89;
    margin: 20px auto;
    position: relative;

    padding: 20px;

    $color: lighten($color-base, $intensidad);
    background-color: $color;

    border: 1px solid white;
    $color: darken($color, $intensidad - 10);
    $color: rgba($color, 0.1);

    box-shadow: 0 0 10px darken($color, 30);

    max-width: 800px;
    border-radius: 5px;

    z-index: 1;
  }

  &--salir {
    color: black;
    position: relative;
    
    --diametro: 40px;
    height: var(--diametro);
    width: var(--diametro);

    margin-left: auto;
    margin-right: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    border-radius: 3px;
    transition: 300ms ease;
    line-height: 0;
    cursor: pointer;
    color: white;
    background-color: rgba($color-base, 0.3);

    &:hover {
      background-color: rgba(red, 0.7);
      color: white;
    }
  }
}