.menu {
  &-horizontal {
    min-height: $menu-height;
    color: white;

    display: flex;
    justify-content: center;
    list-style:none;

    &--item,
    &--enlace {
      display: flex;
    }

    &--item {
      position: relative;

      &:not(:first-of-type) {
        &::before {
          content: "";
          display: block;
          margin: auto;
          left: 0; right: auto;
          top: 0; bottom: 0;
          height: 50%;
          border-left: 1px solid rgba(white, 0.2);
        }
      }

      flex-shrink: 1;
      justify-content: center;
    }

    &--enlace {
      align-items: center;
      padding: 0 15px;
      color: $color-base;
      justify-content: center;
      
      font: {
        size: 0.9rem;
        font-weight: bold;
      }

      text-transform: uppercase;

      &:hover {
        color: $color-base;
        text-decoration: none;
      }
    }
  }
}

// Fondo del logo:
.logo--fondo {
  position: absolute;
  margin: auto;
  left: 45%; right: 0;
  top: 0; bottom: 0;


  background-image: linear-gradient(80deg, transparent 17%, $logo-fondo 30%);
}