.navegacion {
  position: relative;
  z-index: 100;
}

.menu {
  &-horizontal {

    @media screen and (max-width: 1023px) {
      display: none;
      opacity: 0;
    }
    
    min-height: $menu-height;
    color: white;

    display: flex;
    justify-content: center;
    list-style:none;

    &--item,
    &--enlace {
      display: flex;
    }

    &--item {
      position: relative;

      &:not(:first-of-type) {
        &::before {
          content: "";
          display: block;
          margin: auto;
          left: 0; right: auto;
          top: 0; bottom: 0;
          height: 25px;
          // border-left: 1px solid rgba($color-base, 0.2);
        }
      }

      flex-shrink: 1;
      justify-content: center;
    }

    &--enlace {
      --padding: 15px;

      position: relative;
      align-items: center;
      padding: 0 var(--padding);
      color: $color-base;
      justify-content: center;
      outline: medium none;

      font: {
        size: 0.9rem;
        weight: 400;
      }
      
      text-transform: uppercase;
      
      &::before {
        content: "";
        display: block;
        position: absolute;
        margin: auto;
        left: 0; right: 0;
        top: 0; bottom: 25%;
        width: calc(100% - (var(--padding) * 2));
        transition: 300ms ease;
        transform: rotateY(30deg);
        opacity: 0;

        $color: lighten($color-base, 20);
        $color: rgba($color, 0.5);
        border-bottom: 1px solid $color;

        border-bottom-width: 1px;
        border-bottom-style: solid;
        border-bottom-color: $color;
      }

      $color: $color-base !default;

      &:hover {
        color: $color-base;
        text-decoration: none;

        &::before {
          border-bottom-color: $color;
        }
      }
      
      &:hover, &:focus {
        &::before {
          opacity: 1;
          transform: rotateY(0deg);
        }
      }

      &:focus {
        $color: $color-secundario;

        &::before {
          border-bottom-color: $color;
        }
      }
    }
  }

  // Dispositivo Movil:
  &-movil {
    list-style: none;
    transition: 300ms ease;
    padding: 10px;
    margin: 0;
    
    display: none;

    &--active {

      @media screen and (min-width: 1024px) {
        opacity: 0;
        display: none;
      }

      @media screen and (max-width: 1023px) {
        opacity: 1;
        display: block;

        // Animaciones:
        animation: 300ms ease desplegar 1;
      }


    }

    // Lista:
    &--item {
      position: relative;
      padding: 0;
      margin: 0;

      &:not(:first-of-type) {
        border-top: 1px solid rgba(white, 0.1);
      }
    }

    &--enlace {
      color: white;
      transition: 300ms cubic-bezier(0.3, 0, 0, 1);
      outline: medium none;

      display: flex;
      padding: 10px;
      
      &:hover {
        text-decoration: none;
        color: white;
        background-color: rgba($color-base, 0.2);

        transition: 0ms steps(1) background-color;
      }

      &:active {
        $color: lighten($color-base, 5);
        $color: rgba($color, 0.2);
        background-color: $color;

        transition: none;
      }
    }
  }
}

// Fondo del logo:
.logo--fondo {
  position: absolute;
  margin: auto;
  left: 45%; right: 0;
  top: 0; bottom: 0;


  background-image: linear-gradient(80deg, transparent 17%, $logo-fondo 30%);
}

// Barra de navegacion:
.navigation-h {
  &--movil {
    position: fixed;
    margin: auto;
    left: 0; right: 0;
    top: 0; bottom: auto;
    max-width: $max-width;
    transition: 300ms ease opacity;
    
    $width-layer: calc(#{$width} - 20px);
    width: $width-layer;
    background-color: rgba($color-base, 0.7);

    // Mostrar el menú dependiento de la resolucion
    // de pantalla del dispositivo:
    @media screen and (min-width: 1024px) {
      display: none;
      opacity: 0;
    }
  }
}

// Boton del menu de navegacion del dispositivo movil:
.btn {
  &--menu {
    $color: lighten($color-base, 5);
    background-color: $color;
    color: white;
    min-width:auto;
    border-radius: 0;
    overflow: hidden;


    &:hover {
      $color: lighten($color, 5);
      background-color: $color;
      color: white;
    }

   &:focus {
     outline: medium none !important;
   } 
  }
}

.fas, .far {
  padding-right: 5px;
}