// Colores principales:
$color-base: #0d002f;
$color-secundario: #d59a00;
$color-A: #f1f2f4;
$t-color-A: #949494;

// Proporciones:
$width: 100%;
$min-width: 100%;
$max-width: 1200px;

$min-height: 100vh;

// Menu:
$menu-height: 60px;

// Fondo para el logo:
$logo-fondo: #ebedec;

// Colores de las redes sociales:
$instagram-1: #f6ce00;
$instagram-2: #ee6d5a;
$instagram-3: #e8009d;

$color-whatsapp: #54cc61;
$color-facebook: #3b5998;
$color-twitter: #1da1f2;