::-moz-focus-inner {
  border: 0;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif, arial;
  font-size: 1rem;
  color: #606060;
  background-color: #ede9f8;
}

body {
  height: 100vh;
}

a {
  text-decoration: none;
  color: #0d002f;
}
a:not([class]):hover {
  text-decoration: underline;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*::before, *::after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

.width {
  width: 100%;
}
.width--layer {
  width: calc(100% - 20px);
}

.max--width {
  width: 1200px;
}

.min--height {
  min-height: 100vh;
}

.height {
  height: 100%;
}

hr {
  margin: 20px auto 30px;
  border: 0;
  border-bottom: 1px solid #3700c8;
}

pre, code {
  word-wrap: break-word;
  white-space: pre-wrap;
  background-color: #7f4eff;
  color: #0d002f;
  font-size: 0.9rem;
  line-height: 1.5;
  padding: 10px;
  overflow: auto;
  font-variant: normal;
}

.viewport--width {
  min-width: 100%;
}
.viewport--height {
  min-height: 100vh;
}

.text--small {
  font-size: 0.8em;
}
.text--big {
  font-size: 1.2em;
}
.text--variant {
  font-variant: small-caps;
}
.text--justify {
  text-align: justify;
}
.text--left {
  text-align: left;
}
.text--center {
  text-align: center;
}
.text--right {
  text-align: right;
}
.text--image {
  max-width: calc(100% - 20px);
}

.default, .predeterminado {
  width: calc(100% - 10px);
  max-width: 1200px;
}
.default:not(hr):not([class*="contacto"]), .predeterminado:not(hr):not([class*="contacto"]) {
  margin: 0 auto;
}

.line--default, .line--predeterminado {
  margin: 20px auto;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  height: 0;
}

.copyright {
  min-height: 60px;
  display: flex;
  align-items: center;
}

.developer {
  position: relative;
  min-height: 30px;
}
.developer--link {
  text-decoration: none;
  color: #a1daff;
  outline: medium none;
}
.developer--link:hover {
  text-decoration: underline;
}

.none {
  display: none !important;
}

.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

.capitalize {
  text-transform: capitalize;
}

.unset {
  text-transform: unset;
}

.t--small, .t--pequenno {
  font-size: 0.85rem;
}
.t--big, .t--grande {
  font-size: 1.2rem;
}
.t--semi-bold, .t--semi-negrita {
  font-weight: 600;
}
.t--bold, .t--negrita {
  font-weight: 800;
}
.t--italic, .t--cursiva {
  font-style: italic;
}
.t--oblique, .t--oblicua {
  font-style: oblique;
}
.t--1 {
  font-size: 1rem;
}
.t--2 {
  font-size: 2rem;
}
.t--3 {
  font-size: 3rem;
}
.t--4 {
  font-size: 4rem;
}
.t--5 {
  font-size: 5rem;
}
.t--6 {
  font-size: 6rem;
}
.t--7 {
  font-size: 7rem;
}
.t--8 {
  font-size: 8rem;
}
.t--9 {
  font-size: 9rem;
}
.t--10 {
  font-size: 10rem;
}

@media screen and (min-width: 600px) {
  .thumbnail--small {
    width: 250px;
  }
}
@media screen and (max-width: 599px) {
  .thumbnail--small {
    width: calc(100% - 20px);
    max-width: 350px;
  }
}
.thumbnail--shadow {
  padding: 10px;
  background-color: #f2f2f2;
  border-radius: 4px;
  box-shadow: 0 0 2px rgba(13, 0, 47, 0.5);
}

.escala {
  max-width: 100%;
  max-height: 100%;
}

.centrado--h {
  margin: 0 auto;
}

.overflow--hidden {
  overflow: hidden;
}

.t-color--base {
  color: #0d002f;
}
.t-color--secundario {
  color: #d59a00;
}
.t-color--A {
  color: #f1f2f4;
}
.t-color--white {
  color: white;
}
.t-color--ws, .t-color--whatsapp {
  color: #54cc61;
}
.t-color--ws-hover, .t-color--whatsapp-hover {
  transition: 300ms ease;
}
.t-color--ws-hover:hover, .t-color--whatsapp-hover:hover {
  color: #54cc61;
}

.f-color--base {
  background-color: #0d002f;
}
.f-color--secundario {
  background-color: #d59a00;
}
.f-color--A {
  background-color: #f1f2f4;
  background-image: url("../images/fondo.png");
}
.f-color--white {
  background-color: white;
}
.f-color--ws, .f-color--whatsapp {
  background-color: #54cc61;
}

header, section, article, footer, aside, div, p, nav {
  position: relative;
}

header, section, article, footer {
  margin: 0 auto;
}

.main {
  transition: 300ms ease;
}
@media screen and (min-width: 1500px) {
  .main {
    margin: 20px auto;
    max-width: calc(1500px - 20px);
    border-radius: 10px;
    padding: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 0 2px rgba(41, 0, 149, 0.5);
    overflow: hidden;
  }
}

.header {
  min-height: 100vh;
  overflow: visible;
  background-color: rgba(13, 0, 47, 0.1);
}
@media screen and (min-width: 1500px) {
  .header {
    min-height: 900px;
  }
}

.banner {
  position: relative;
  background-color: #ebedec;
  --width: 55%;
  --altura: 450px;
  padding-top: calc(var(--altura) - 10px);
}
.banner--item {
  transition: 300ms ease;
  overflow: visible;
}
@media screen and (min-width: 1024px) {
  .banner--item {
    margin: auto;
    top: 0;
    bottom: 0;
    position: absolute;
    min-height: 100%;
  }
}
@media screen and (max-width: 1023px) {
  .banner--item {
    position: relative;
  }
}
@media screen and (min-width: 1024px) {
  .banner--item:first-of-type {
    width: var(--width);
    left: 0;
    right: auto;
  }
}
@media screen and (max-width: 1023px) {
  .banner--item:first-of-type {
    width: 100%;
    position: relative;
    z-index: 1;
  }
}
.banner--item:last-of-type {
  z-index: 2;
}
@media screen and (min-width: 1024px) {
  .banner--item:last-of-type {
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 15% 100%);
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 15% 100%);
    width: 55%;
    left: auto;
    right: 0;
  }
}
@media screen and (max-width: 1023px) {
  .banner--item:last-of-type {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: auto;
    left: 0;
    right: 0;
    min-height: var(--altura);
    width: 100%;
  }
}
@media screen and (min-width: 1024px) {
  .banner--gradient {
    background-image: linear-gradient(80deg, transparent, #ebedec 20%), url("../images/banner_principal/foto-smartphone.jpg");
  }
}
@media screen and (max-width: 1023px) {
  .banner--gradient {
    max-width: 100%;
  }
}
.banner--logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
@media screen and (min-width: 1024px) {
  .banner--logo {
    left: auto;
    right: 10px;
    width: 85%;
  }
}
@media screen and (max-width: 980px) {
  .banner--logo .logo__p--big {
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 1023px) {
  .banner--logo {
    max-width: calc(100% - 20px);
    padding-top: 40px;
  }
}
.banner--blur, .banner--logo {
  position: absolute;
  margin: auto;
  bottom: 0;
}
@media screen and (min-width: 1024px) {
  .banner--blur, .banner--logo {
    top: 0;
  }
}
@media screen and (max-width: 1023px) {
  .banner--blur, .banner--logo {
    top: 20px;
    left: 0;
    right: 0;
  }
}
.banner--blur {
  left: 0;
  right: 0;
  z-index: 0;
}
@media screen and (min-width: 1024px) {
  .banner--blur {
    filter: blur(13px);
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 15% 100%);
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 15% 100%);
    background-image: linear-gradient(80deg, transparent, #ebedec 20%), url("../images/banner_principal/foto-smartphone.jpg");
  }
}
@media screen and (max-width: 1023px) {
  .banner--blur {
    background-color: #f0f0f0;
    width: 100%;
  }
}
@media screen and (min-width: 1024px) {
  .banner, .banner__imagen {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
}
.banner__imagen {
  display: block;
  object-fit: cover;
  object-position: 20% top;
  width: 100%;
}
@media screen and (min-width: 1024px) {
  .banner__imagen {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
  }
}
@media screen and (max-width: 1023px) {
  .banner__imagen {
    position: relative;
    height: auto;
  }
}

.logo {
  position: absolute;
  margin: auto;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
.logo__img {
  display: block;
  width: auto;
  height: auto;
  max-width: 100%;
}
.logo__image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.logo__p {
  color: #0d002f;
  margin: 0;
  text-transform: uppercase;
}
.logo__p:first-of-type {
  margin-top: 40px;
}
.logo__p--small {
  font-size: 1.3rem;
}
.logo__p--big {
  font-size: 2rem;
}

.we {
  position: relative;
  margin: 0;
  min-height: 240px;
  background-color: white;
  color: #0d002f;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 6rem;
}
@media screen and (max-width: 600px) {
  .we {
    min-height: 120px;
  }
}

.carousel {
  max-height: 100vh;
  background-color: #d59a00;
}
.carousel-inner {
  position: relative;
  background-color: silver;
}
.carousel-item {
  --padding: 44.44%;
  transition: 300ms ease;
  position: relative;
  height: 100%;
  overflow: hidden;
  padding-top: var(--padding);
}
.carousel img.d-block {
  position: absolute;
  margin: auto;
  height: 100%;
  left: 0;
  right: auto;
  top: 0;
  bottom: auto;
}

@supports (object-fit: cover) {
  .carousel img {
    width: 100%;
    object-fit: cover;
    object-position: center top;
  }
}
.content {
  position: relative;
}
.content--item {
  min-height: 200px;
}
.content--A {
  border-top: 16px solid #140049;
  padding: 40px 0;
  text-align: center;
}

.m--0 {
  margin: 0;
}
.m--5 {
  margin: 5px;
}
.m--10 {
  margin: 10px;
}
.m--15 {
  margin: 15px;
}
.m--20 {
  margin: 20px;
}
.m--25 {
  margin: 25px;
}
.m--30 {
  margin: 30px;
}
.m--35 {
  margin: 35px;
}
.m--40 {
  margin: 40px;
}
.m--45 {
  margin: 45px;
}
.m--50 {
  margin: 50px;
}

.decoracion {
  margin-top: 40px;
  margin-bottom: 0;
}

.timer {
  background-color: #0d002f;
  color: white;
  padding-top: 17%;
}

.como-llegar {
  border-bottom: 14px solid #140049;
  background-color: #f1f2f4;
  padding: 40px 0;
}
.como-llegar--content {
  margin: 0 auto;
  max-width: 1200px;
  min-height: 100px;
}

.flex {
  width: calc(100% - 20px);
  transition: 300ms ease;
}
@media screen and (max-width: 599px) {
  .flex {
    flex-wrap: wrap;
    margin: 0 auto;
    border-radius: 5px;
  }
}
.flex, .flex--item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex--item {
  flex-direction: column;
  flex-basis: 50%;
  flex-grow: 1;
  flex-shrink: 1;
  min-height: 100px;
  transition: 300ms ease;
}
@media screen and (max-width: 599px) {
  .flex--item {
    padding-top: 20px;
    padding-bottom: 20px;
    flex-basis: 100%;
  }
  .flex--item:not(:last-of-type) {
    border-bottom: 1px solid #d59a00;
  }
}
@media screen and (min-width: 600px) {
  .flex--item:not(:first-of-type) {
    border-left: 1px solid #d59a00;
  }
}
.flex--start {
  justify-content: flex-start;
}
.flex--end {
  justify-content: flex-end;
}

.ubicacion--small {
  height: 35px;
}

.grid {
  display: grid;
}
.grid--auto-fit {
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.grid--item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.grid--gap {
  grid-gap: 40px;
}

.instagram {
  --diametro: 300px;
  width: var(--diametro);
  height: var(--diametro);
  background-color: #e8009d;
  background-image: linear-gradient(180deg, #f6ce00, #ee6d5a, #e8009d);
}
.instagram--scale {
  display: block;
  position: relative;
  max-height: 80%;
}
.instagram--circle {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: calc(var(--diametro) / 2);
}
.instagram--circle-small {
  --small: 20px;
  width: calc(var(--diametro) - 20px);
  height: calc(var(--diametro) - 20px);
  border-radius: calc((var(--diametro) - var(--small)) / 2);
  background-color: white;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.instagram--circle-small img {
  --radius: calc((var(--diametro) - var(--small) * 2));
  display: block;
  position: relative;
  width: var(--radius);
  height: var(--radius);
  border-radius: calc(var(--radius) / 2);
}

.maquillaje {
  padding: 20px 0;
}

.tarjetas {
  display: grid;
}
@media screen and (min-width: 600px) {
  .tarjetas {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}
@media screen and (max-width: 599px) {
  .tarjetas {
    grid-template-columns: 1fr;
  }
}
.tarjetas--con-foto {
  grid-gap: 20px;
}
.tarjetas--sin-foto {
  transition: 300ms ease;
}
@media screen and (min-width: 900px) {
  .tarjetas--sin-foto {
    grid-gap: 80px;
    gap: 80px;
  }
}
@media screen and (max-width: 899px) {
  .tarjetas--sin-foto {
    grid-gap: 20px;
    gap: 20px;
  }
}
.tarjetas--item {
  transition: 300ms ease;
  padding: 10px;
  background-color: #fafafa;
  border-radius: 4px;
  width: calc(100% - 20px);
  margin: 0 auto;
}
.tarjetas--borde, .tarjetas--sombra {
  padding-top: var(--padding);
  padding-bottom: var(--padding);
  background-color: #fcfbff;
  border: 1px solid white;
  overflow: hidden;
  --xy: 0;
  --blur: 5px;
  --color: rgba(45, 25, 99, 0.15);
  box-shadow: var(--xy) var(--xy) var(--blur) var(--color);
  border-radius: 5px;
}
.tarjetas--borde {
  --padding: 10px;
  padding-left: var(--padding);
  padding-right: var(--padding);
}
.tarjetas--sombra {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  --xy: 5px;
  --blur: 15px;
  --padding: 30px;
}
.tarjetas img {
  width: 100%;
}
.tarjetas__img {
  transition: 500ms cubic-bezier(0.3, 0, 0, 1);
  transform-origin: center bottom;
}
.tarjetas__img:active {
  transition: none;
  transform: rotateX(15deg);
}
.tarjetas--images {
  margin-bottom: 40px;
  border-bottom: 16px solid #b5007a;
}

.timer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.donde-quedarse {
  position: relative;
  padding: 20px 0;
  background-color: #fafafa;
  border-top: 1px solid #cccccc;
}

.linea--h-50 {
  height: 10px;
  --margin: 35px;
  margin-top: var(--margin);
  margin-bottom: var(--margin);
}
.linea--h-50::before {
  content: "";
  display: block;
  position: absolute;
  margin: auto;
  left: 0;
  right: auto;
  top: 0;
  bottom: 0;
  width: 50%;
  background-color: #f0d000;
}

.padding {
  --padding: 30px;
}
.padding--h {
  padding-left: var(--padding);
  padding-right: var(--padding);
}
.padding--v {
  padding-top: var(--padding);
  padding-bottom: var(--padding);
}
.padding--left {
  padding-left: var(--padding);
}
.padding--right {
  padding-right: var(--padding);
}
.padding--top {
  padding-top: var(--padding);
}
.padding--bottom {
  padding-bottom: var(--padding);
}
.padding:not(.padding--h):not(.padding--v):not(.padding--left):not(.padding--right):not(.padding--top):not(.padding--bottom) {
  padding: var(--padding);
}

.rsvp {
  background-image: url("../images/carousel/0066.jpg");
  background-size: auto 100%;
}

.seccion-b--logo {
  display: block;
  width: 300px;
  height: auto;
  margin: 0 auto;
}
.seccion-b--block {
  display: block;
}

.contacto {
  --margin: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-top: var(--margin);
  color: white;
  justify-content: center;
}
.contacto--separador {
  --padding: 20px;
  padding: 0 var(--padding);
  transition: 300ms ease;
}
@media screen and (min-width: 500px) {
  .contacto--separador:not(:first-of-type) {
    border-left: 1px solid rgba(255, 255, 255, 0.3);
  }
}
@media screen and (max-width: 499px) {
  .contacto--separador {
    width: 100%;
    text-align: center;
  }
  .contacto--separador:not(:first-of-type) {
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    padding-top: 10px;
  }
}
.contacto--separador:hover {
  color: #54cc61;
}
.contacto .fab {
  padding-right: 5px;
  font-size: 1.1rem;
}

.mapas {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  max-width: calc(100% - 20px);
  height: 500px;
  width: 100%;
  max-width: 650px;
  padding-top: 20px;
}
@media screen and (min-width: 600px) {
  .mapas {
    max-width: 450px;
    max-height: 350px;
  }
}
.mapas__iframe {
  display: block;
  position: relative;
  border: 0;
  margin: 0 auto;
  height: 100%;
  width: calc(100% - 20px);
  border: 1px solid white;
  box-shadow: 0 0 2px silver;
}
.mapas--enlace {
  border: 0;
  outline: medium none;
  text-decoration: none;
  transition: 300ms ease;
}
.mapas--enlace:hover {
  text-decoration: none;
  opacity: 0.7;
}
.mapas--enlace:active {
  transform: scale(0.98);
  transition: none;
}

.ventana {
  display: none;
}
.ventana:target {
  display: block;
}
.ventana:target .ventana--content {
  animation: 300ms ease desplegar 1;
}
.ventana--modal {
  position: fixed;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(13, 0, 47, 0.6);
  overflow: auto;
  z-index: 1000;
}
.ventana--header {
  padding: 10px;
  position: fixed;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: auto;
  z-index: 2;
}
.ventana--content {
  margin: 20px auto;
  position: relative;
  padding: 20px;
  background-color: #f8f6ff;
  border: 1px solid white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  border-radius: 5px;
  z-index: 1;
}
.ventana--salir {
  color: black;
  position: relative;
  --diametro: 40px;
  height: var(--diametro);
  width: var(--diametro);
  margin-left: auto;
  margin-right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  border-radius: 3px;
  transition: 300ms ease;
  line-height: 0;
  cursor: pointer;
  color: white;
  background-color: rgba(13, 0, 47, 0.3);
}
.ventana--salir:hover {
  background-color: rgba(255, 0, 0, 0.7);
  color: white;
}

.rrss {
  padding: 10px;
}
.rrss__ul {
  display: flex;
  list-style: none;
}
.rrss__ul--item, .rrss__ul {
  padding: 0;
  margin: 0;
}
.rrss__ul--item, .rrss__ul--enlace {
  position: relative;
  display: flex;
}
.rrss__ul--item {
  --diametro: 40px;
  width: var(--diametro);
  height: var(--diametro);
  padding: 0;
}
.rrss__ul--enlace {
  flex-grow: 1;
  flex-shrink: 1;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  color: #333333;
  transition: 300ms ease;
  outline: medium none;
}
.rrss__ul--enlace i {
  transition: 300ms ease;
}
.rrss__ul--enlace:hover {
  text-decoration: none;
}
.rrss__ul--enlace:hover .fa-facebook {
  color: #3b5998;
}
.rrss__ul--enlace:hover .fa-twitter {
  color: #1da1f2;
}
.rrss__ul--enlace:hover .fa-instagram {
  color: #e8009d;
}
.rrss__ul--enlace:focus {
  outline: 3px solid rgba(55, 0, 200, 0.2);
}

@keyframes desplegar {
  from {
    opacity: 0;
    transform: rotateX(30deg);
  }
}
@keyframes fijar {
  50% {
    opacity: 0.5;
    transform: scale(0.98);
  }
}
.fijar:target {
  animation: 300ms ease fijar 1;
}

.btn {
  --height: 40px;
  transition: 300ms ease;
  min-height: var(--height);
  min-width: 140px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.btn--enlace {
  background-color: #140049;
  color: white;
  padding: 0 10px;
  border-radius: calc(var(--height) / 2);
}
.btn--enlace:hover {
  color: white;
  background-color: #1f0071;
}
.btn--submit {
  display: block;
  margin-left: auto;
  font-variant: small-caps;
  background-color: white;
  border-radius: calc(var(--height) / 2);
}
.btn--submit:hover {
  background-color: #f2f2f2;
}
.btn--submit:focus {
  box-shadow: inset 0 0 4px #d59a00;
}
.btn--submit:active {
  transition: none;
}

.rsvp--form {
  margin: 0 auto;
  width: calc(100% - 20px);
  max-width: 780px;
}
.rsvp__label {
  --height: 70px;
  display: block;
  position: relative;
  height: var(--height);
}
.rsvp__label, .rsvp__label--input {
  display: block;
}
.rsvp__label--input, .rsvp__label--text {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: auto;
  bottom: 0;
  color: white;
  padding-bottom: 5px;
  font-size: 0.9rem;
}
.rsvp__label--input {
  background-color: transparent;
  background-image: none;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-bottom: 1px solid transparent;
  outline: medium none;
  border: 0;
  width: 100%;
  z-index: 1;
}
.rsvp__label--input:focus ~ .rsvp__label--text {
  padding-bottom: 35px;
}
.rsvp__label--input:focus ~ .rsvp__label--text::before {
  opacity: 1;
  transform: rotateY(0deg);
}
.rsvp__label--input:focus ~ .rsvp__label--text::after {
  opacity: 0;
}
.rsvp__label--input:focus {
  color: #d59a00;
}
.rsvp__label--text {
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: 300ms ease;
}
.rsvp__label--text-focused {
  padding-bottom: 35px;
}
.rsvp__label--text::before, .rsvp__label--text::after {
  content: "";
  transition: 300ms ease;
  display: block;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: auto;
  bottom: 0;
}
.rsvp__label--text::before {
  content: "";
  transition: 300ms ease;
  height: 3px;
  background-color: rgba(255, 201, 60, 0.4);
  transform: rotateY(-60deg);
  opacity: 0;
  border-bottom: 1px solid rgba(255, 201, 60, 0.4);
}
.rsvp__label--text::after {
  content: "";
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.group--button {
  margin-top: 50px;
}
.group--button-movil {
  margin: 0;
  padding: 2px 0;
}
.group--options {
  --height: 35px;
  transition: 300ms ease;
  border: 1px solid #d59a00;
  position: relative;
  height: var(--height);
  color: white;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: calc(var(--height) / 2);
  font-variant: small-caps;
  font-size: 1rem;
  padding: 0 20px;
}
.group--options-selected {
  background-color: rgba(188, 136, 0, 0.7);
}
.group--options:hover:not(.group--options-selected) {
  background-color: rgba(213, 154, 0, 0.2);
}
.group--options:not(:first-of-type) {
  margin-left: 10px;
}
.group--options [type="radio"] {
  display: none;
}
.group--options [type="radio"]:checked ~ * {
  color: white;
}
.group--options span {
  transition: 300ms ease;
}

[type="radio"] ~ .checked {
  display: none;
}
[type="radio"]:checked ~ .unchecked {
  display: none;
}
[type="radio"]:checked ~ .checked {
  display: inline;
}

.navegacion {
  position: relative;
  z-index: 100;
}

.menu-horizontal {
  min-height: 60px;
  color: white;
  display: flex;
  justify-content: center;
  list-style: none;
}
@media screen and (max-width: 1023px) {
  .menu-horizontal {
    display: none;
    opacity: 0;
  }
}
.menu-horizontal--item, .menu-horizontal--enlace {
  display: flex;
}
.menu-horizontal--item {
  position: relative;
  flex-shrink: 1;
  justify-content: center;
}
.menu-horizontal--item:not(:first-of-type)::before {
  content: "";
  display: block;
  margin: auto;
  left: 0;
  right: auto;
  top: 0;
  bottom: 0;
  height: 25px;
}
.menu-horizontal--enlace {
  --padding: 15px;
  position: relative;
  align-items: center;
  padding: 0 var(--padding);
  color: #0d002f;
  justify-content: center;
  outline: medium none;
  font-size: 0.9rem;
  font-weight: 400;
  text-transform: uppercase;
}
.menu-horizontal--enlace::before {
  content: "";
  display: block;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 25%;
  width: calc(100% - (var(--padding) * 2));
  transition: 300ms ease;
  transform: rotateY(30deg);
  opacity: 0;
  border-bottom: 1px solid rgba(41, 0, 149, 0.5);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgba(41, 0, 149, 0.5);
}
.menu-horizontal--enlace:hover {
  color: #0d002f;
  text-decoration: none;
}
.menu-horizontal--enlace:hover::before {
  border-bottom-color: #0d002f;
}
.menu-horizontal--enlace:hover::before, .menu-horizontal--enlace:focus::before {
  opacity: 1;
  transform: rotateY(0deg);
}
.menu-horizontal--enlace:focus::before {
  border-bottom-color: #d59a00;
}
.menu-movil {
  list-style: none;
  transition: 300ms ease;
  padding: 10px;
  margin: 0;
  transform-style: preserve-3d;
  transform-origin: center top;
  display: none;
}
.menu-movil--active {
  animation: 500ms ease desplegar 1;
}
@media screen and (min-width: 1024px) {
  .menu-movil--active {
    opacity: 0;
    display: none;
  }
}
@media screen and (max-width: 1023px) {
  .menu-movil--active {
    opacity: 1;
    display: block;
  }
}
.menu-movil--item {
  position: relative;
  padding: 0;
  margin: 0;
}
.menu-movil--item:not(:first-of-type) {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.menu-movil--enlace {
  color: white;
  transition: 300ms cubic-bezier(0.3, 0, 0, 1);
  outline: medium none;
  display: flex;
  padding: 10px;
}
.menu-movil--enlace:hover {
  text-decoration: none;
  color: white;
  background-color: rgba(13, 0, 47, 0.2);
  transition: 0ms steps(1) background-color;
}
.menu-movil--enlace:active {
  background-color: rgba(20, 0, 73, 0.2);
  transition: none;
}

.logo--fondo {
  position: absolute;
  margin: auto;
  left: 45%;
  right: 0;
  top: 0;
  bottom: 0;
  background-image: linear-gradient(80deg, transparent 17%, #ebedec 30%);
}

.navigation-h--movil {
  position: fixed;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: auto;
  max-width: 1200px;
  transition: 300ms ease opacity;
  width: 100%;
  background-color: rgba(13, 0, 47, 0.7);
}
@media screen and (min-width: 1024px) {
  .navigation-h--movil {
    display: none;
    opacity: 0;
  }
}

.btn--menu {
  background-color: transparent;
  color: white;
  min-width: auto;
  border-radius: 0;
  overflow: hidden;
}
.btn--menu:hover {
  background-color: #1b0062;
  color: white;
}
.btn--menu:focus {
  outline: medium none !important;
}

.fas, .far {
  padding-right: 5px;
}

/*# sourceMappingURL=style.css.map */
