::-moz-focus-inner {
  border: 0;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif, arial;
  font-size: 1rem;
  color: #606060;
  background-color: #a07cff;
}

body {
  height: 100vh;
}

a {
  text-decoration: none;
  color: #0d002f;
}
a:not([class]):hover {
  text-decoration: underline;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*::before, *::after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

.width {
  width: 100%;
}

.max--width {
  width: 1200px;
}

.min--height {
  min-height: 100vh;
}

.height {
  height: 100%;
}

hr {
  margin: 20px auto 30px;
  border: 0;
  border-bottom: 1px solid #3700c8;
}

pre, code {
  word-wrap: break-word;
  white-space: pre-wrap;
  background-color: #7f4eff;
  color: #0d002f;
  font-size: 0.9rem;
  line-height: 1.5;
  padding: 10px;
  overflow: auto;
  font-variant: normal;
}

.viewport--width {
  min-width: 100%;
}
.viewport--height {
  min-height: 100vh;
}

.text--small {
  font-size: 0.8em;
}
.text--big {
  font-size: 1.2em;
}
.text--variant {
  font-variant: small-caps;
}
.text--justify {
  text-align: justify;
}
.text--left {
  text-align: left;
}
.text--center {
  text-align: center;
}
.text--right {
  text-align: right;
}

.default, .predeterminado {
  width: calc(100% - 10px);
  max-width: 1200px;
}
.default:not(hr), .predeterminado:not(hr) {
  margin: 0 auto;
}

.line--default, .line--predeterminado {
  margin: 20px auto;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-bottom: 1px solid;
  height: 0;
}

.copyright {
  min-height: 60px;
  display: flex;
  align-items: center;
}

.developer {
  position: relative;
  min-height: 30px;
}
.developer--link {
  text-decoration: none;
  color: #a1daff;
  outline: medium none;
}
.developer--link:hover {
  text-decoration: underline;
}

.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

.capitalize {
  text-transform: capitalize;
}

.t--small, .t--pequenno {
  font-size: 0.85rem;
}
.t--big, .t--grande {
  font-size: 1.2rem;
}
.t--semi-bold, .t--semi-negrita {
  font-weight: 600;
}
.t--bold, .t--negrita {
  font-weight: 800;
}
.t--italic, .t--cursiva {
  font-style: italic;
}
.t--oblique, .t--oblicua {
  font-style: oblique;
}
.t--1 {
  font-size: 1rem;
}
.t--2 {
  font-size: 2rem;
}
.t--3 {
  font-size: 3rem;
}
.t--4 {
  font-size: 4rem;
}
.t--5 {
  font-size: 5rem;
}
.t--6 {
  font-size: 6rem;
}
.t--7 {
  font-size: 7rem;
}
.t--8 {
  font-size: 8rem;
}
.t--9 {
  font-size: 9rem;
}
.t--10 {
  font-size: 10rem;
}

.thumbnail--small {
  width: 250px;
}
.thumbnail--shadow {
  padding: 10px;
  background-color: #f2f2f2;
  border-radius: 4px;
  box-shadow: 0 0 2px rgba(13, 0, 47, 0.5);
}

.t-color--base {
  color: #0d002f;
}
.t-color--secundario {
  color: #d59a00;
}
.t-color--A {
  color: #f1f2f4;
}
.t-color--white {
  background-color: white;
}

.f-color--base {
  background-color: #0d002f;
}
.f-color--secundario {
  background-color: #d59a00;
}
.f-color--A {
  background-color: #f1f2f4;
  background-image: url("../images/fondo.png");
}
.f-color--white {
  background-color: white;
}

header, section, article, footer, aside, div, p, nav {
  position: relative;
}

header, section, article, footer {
  margin: 0 auto;
}

.header {
  min-height: 100vh;
  background-color: rgba(13, 0, 47, 0.1);
}

.banner {
  background-color: silver;
}
.banner, .banner__imagen {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.banner__imagen {
  display: block;
  object-fit: cover;
  object-position: center top;
  width: 100%;
  height: 100%;
}

.logo {
  position: absolute;
  margin: auto;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
.logo__img {
  display: block;
  width: auto;
  height: auto;
  max-width: 100%;
}
.logo__image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.logo__p {
  color: #0d002f;
  margin: 0;
  text-transform: uppercase;
}
.logo__p:first-of-type {
  margin-top: 40px;
}
.logo__p--small {
  font-size: 1.3rem;
}
.logo__p--big {
  font-size: 2rem;
}

.we {
  position: relative;
  margin: 0;
  min-height: 190px;
  background-color: white;
  color: #0d002f;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 6rem;
}

.carousel {
  min-height: 200px;
  height: 525;
  max-height: 100vh;
  background-color: #d59a00;
}
.carousel-inner {
  position: relative;
  height: 525px;
  background-color: silver;
}
.carousel img {
  display: block;
  position: absolute;
  object-fit: cover;
  object-position: center top;
}

.content {
  position: relative;
}
.content--item {
  min-height: 200px;
}
.content--A {
  border-top: 16px solid #140049;
  padding: 40px 0;
  text-align: center;
}

.m--0 {
  margin: 0;
}
.m--5 {
  margin: 5px;
}
.m--10 {
  margin: 10px;
}
.m--15 {
  margin: 15px;
}
.m--20 {
  margin: 20px;
}
.m--25 {
  margin: 25px;
}
.m--30 {
  margin: 30px;
}
.m--35 {
  margin: 35px;
}
.m--40 {
  margin: 40px;
}
.m--45 {
  margin: 45px;
}
.m--50 {
  margin: 50px;
}

.decoracion {
  margin-top: 40px;
  margin-bottom: 0;
}

.timer {
  background-color: #0d002f;
  color: white;
  padding-top: 17%;
}

.como-llegar {
  border-bottom: 14px solid #140049;
  background-color: #f1f2f4;
  padding: 40px 0;
}
.como-llegar--content {
  margin: 0 auto;
  max-width: 1200px;
  min-height: 100px;
}

.flex, .flex--item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex--item {
  flex-direction: column;
  flex-basis: 50%;
  flex-grow: 1;
  flex-shrink: 1;
  min-height: 100px;
}
.flex--item:not(:first-of-type) {
  border-left: 1px solid #d59a00;
}

.ubicacion--small {
  height: 35px;
}

.grid {
  display: grid;
}
.grid--auto-fit {
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.grid--item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.grid--gap {
  grid-gap: 40px;
}

.instagram {
  --diametro: 300px;
  width: var(--diametro);
  height: var(--diametro);
  background-color: #e8009d;
  background-image: linear-gradient(180deg, #f6ce00, #ee6d5a, #e8009d);
}
.instagram--circle {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: calc(var(--diametro) / 2);
}
.instagram--circle-small {
  --small: 20px;
  width: calc(var(--diametro) - 20px);
  height: calc(var(--diametro) - 20px);
  border-radius: calc((var(--diametro) - var(--small)) / 2);
  background-color: white;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.instagram--circle-small img {
  --radius: calc((var(--diametro) - var(--small) * 2));
  display: block;
  position: relative;
  width: var(--radius);
  height: var(--radius);
  border-radius: calc(var(--radius) / 2);
}

.maquillaje {
  padding: 20px 0;
}

.tarjetas {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.tarjetas--con-foto {
  grid-gap: 20px;
}
.tarjetas img {
  max-width: 100%;
}
.tarjetas--images {
  margin-bottom: 40px;
  border-bottom: 16px solid #b5007a;
}

.btn {
  --height: 40px;
  transition: 300ms ease;
  min-height: var(--height);
  min-width: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.btn--enlace {
  background-color: #140049;
  color: white;
  padding: 0 10px;
  border-radius: calc(var(--height) / 2);
}
.btn--enlace:hover {
  color: white;
  background-color: #1f0071;
}

.navegacion {
  position: relative;
  z-index: 100;
}

.menu-horizontal {
  min-height: 60px;
  color: white;
  display: flex;
  justify-content: center;
  list-style: none;
}
.menu-horizontal--item, .menu-horizontal--enlace {
  display: flex;
}
.menu-horizontal--item {
  position: relative;
  flex-shrink: 1;
  justify-content: center;
}
.menu-horizontal--item:not(:first-of-type)::before {
  content: "";
  display: block;
  margin: auto;
  left: 0;
  right: auto;
  top: 0;
  bottom: 0;
  height: 50%;
  border-left: 1px solid rgba(255, 255, 255, 0.2);
}
.menu-horizontal--enlace {
  align-items: center;
  padding: 0 15px;
  color: #0d002f;
  justify-content: center;
  font-size: 0.9rem;
  font-weight: 400;
  text-transform: uppercase;
}
.menu-horizontal--enlace:hover {
  color: #0d002f;
  text-decoration: none;
}

.logo--fondo {
  position: absolute;
  margin: auto;
  left: 45%;
  right: 0;
  top: 0;
  bottom: 0;
  background-image: linear-gradient(80deg, transparent 17%, #ebedec 30%);
}

/*# sourceMappingURL=style.css.map */
